<footer class="footer-area">
<!-- Start: Footer Top -->
<div class="footer-top">
	<div class="container">
    	<div class="row clearfix">
        <div class="col-md-6">
            <a href="http://turnerlogic.com/"><h2 id="company-name">Turner Logic</h2></a>
        	<!-- Start: Footer About -->
            <div class="col-md-12 footer-about animated" data-animation="fadeInUp" data-animation-delay="400">
            	<p class="footer-text">We turn your great ideas into<br>real products.</p>
            </div>
        	<!-- End: Footer About -->

            <!-- Start: Footer Map -->
            <div class="col-md-3 footer-map animated" data-animation="fadeInRight" data-animation-delay="800">
                <ul class="social-footer">
                    <li><a href="https://www.facebook.com/TurnerLogic?_rdr=p"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/TurnerLogic"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <!-- End: Footer Map -->

        </div>

            <!-- Start: Footer Address -->
            <div class="col-md-6 footer-address animated" data-animation="fadeInUp" data-animation-delay="600">
            	<ul class=" company-info pull-right">
                	<li class="email"><a href="mailto:info@turnerlogic.com">info@turnerlogic.com</a></li>
                	<li class="phone"><a href="tel:+12109019955">210-901-9955</a></li>
                    <li class="address">112 E. Pecan Street, 10th Floor</li>
                </ul>
            </div>
            <!-- End: Footer Address -->
        </div>
    </div>
</div>
<!-- End: Footer Top -->

</footer>