<header class="header-area">
    <div class="container clearfix">
        <div class="logo-area">
            <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
            <span class="phone">This is where the logo will go</span>
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav-main">
            <ul class="menu-cont">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="/test">Polls</a></li>
                <li><a href="/polls/create">Create Poll</a></li>
            </ul>
        </nav>
    </div>
</header>