<!--===================== NAVIGATION =====================-->
    <header class="header-area">
        <div class="container clearfix">

            <div class="logo-area">
                <a href="/" class="logo">Poll Geni<span style="color: white">.</span>us</a>
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav-main">
                <ul class="menu-cont">
                    <li id="home-nav"><a href="/">Home</a></li>
                    <li id="polls-nav"><a href="/polls">Polls</a></li>
                    <li id="create-poll-nav"><a href="/polls/create">Create Poll</a></li>
                </ul>
            </nav>

        </div>
    </header>
<!-- =========================================================-->