<html ng-app='pollCreateApp'>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{title}}</title>
		<script src="/js/jquery/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<meta name="keywords" content="">
		<link rel="shortcut icon" href="img/favicon.ico">
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css"><!-- font-awesome -->
		<link type="text/css" rel="stylesheet" href="/css/animate.min.css"><!-- animate css -->
		<link type="text/css" rel="stylesheet" href="/css/style.css"><!-- page styling -->

		<!-- Google Fonts -->
			<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic,400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!-- ============ -->

		<staticContent>
		    <remove fileExtension=".woff" />
		    <remove fileExtension=".woff2" />
		    <mimeMap fileExtension=".woff" mimeType="/fonts/glyphicons-halflings-regular" />
		    <mimeMap fileExtension=".woff2" mimeType="/fonts/glyphicons-halflings-regular" />
		</staticContent>

		{{{yield-styles}}}
	</head>
	<body ng-controller="PollCreateCtrl">

		<!-- for facebook api -->
		<div id="fb-root"></div>
		{{> navbar}}
		{{{ yield }}}
		{{> footer}}

		<script src="/socket.io/socket.io.js"></script><!-- socket.io -->
		<script type="text/javascript" src="/js/jquery/jquery.appear.js"></script><!-- Appear Js -->
		<script type="text/javascript" src="/js/jquery/jquery-scrollToFixed.js"></script><!-- Scroll To Fixed Js -->
		<script type="text/javascript" src="/js/settings.js"></script><!-- Settings Js -->
		<script type="text/javascript" src="/js/views/default_js.js"></script>
		{{{yield-scripts}}}
	</body>
</html>
