{{#yield-styles}}
<style>
html, body {
	background-color: #2C303F;

}
#content {
	padding-top: 150px;
}

.otto {
	background: #2C303F;
	color: white;
	text-shadow: 0 1px 0 #ccc,
				0 2px 0 #c9c9c9,
				0 3px 0 #bbb,
				0 4px 0 #b9b9b9,
				0 5px 0 #aaa,
				0 6px 1px rgba(0,0,0,.1),
				0 0 5px rgba(0,0,0,.1),
				0 1px 3px rgba(0,0,0,.3),
				0 3px 5px rgba(0,0,0,.2),
				0 5px 10px rgba(0,0,0,.25),
				0 10px 10px rgba(0,0,0,.2),
				0 20px 20px rgba(0,0,0,.15);
}

#status {
	font-size: 15em;
	color: white;
}

</style>
{{/yield-styles}}

<div id="content" class="container">
	<div class="row" style="text-align: center">
		<div class="col-md-12">
			<h1 id="status" class="otto">404</h1>
			<p>Sorry, but the page you're looking for doesn't exist.</p>
			<span>Contact Turner Logic for assistance.</span>
		</div>
	</div>
</div>
{{#yield-scripts}}
<script>
	$(document).ready(function () {
		var height = $(window).height();
		$( '.footer-area' ).css('position', 'relative').css('top', height);
	})
</script>
{{/yield-scripts}}