{{#yield-styles}}
<link rel="stylesheet" href="css/views/all.css" media="screen" title="no title" charset="utf-8">
{{/yield-styles}}

<!-- all polls container -->
	<div class="holder container">
		{{#polls}}
				<div class="col-xs-4" style="text-align: center">
					<a href="/polls/{{data.code}}/"><p class="question">{{data.question}}</p></a>
					<p style="text-align: center">{{data.code}}</p>
					<p hidden class="poll_code">{{data.code}}</p>
				</div>
		{{/polls}}
	</div>
<!-- ================== -->
<nav>
  <ul class="pager">
    <li class="previous"><a href="/polls?page={{previous}}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    <li class="next"><a href="/polls?page={{next}}">Older <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

	<script type="text/javascript" src="/js/views/all_js.js"></script> <!-- all js-->
{{#yield-scripts}}
	<script type="text/javascript" src="/js/chart.min.js"></script><!-- chart js -->
	<script type="text/javascript" src="/js/client/client.js"></script><!-- client js -->
{{/yield-scripts}}
