{{#yield-styles}}
	<link rel="stylesheet" href="/css/bootstrap.min.css"><!-- bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'><!-- Google Raleway Font -->
	<link rel="stylesheet" href="/css/views/create.css" media="screen" title="no title" charset="utf-8"> <!-- create css -->
{{/yield-styles}}

<div id="content" class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 id="title">Poll Geni.us Builder</h1>
			<hr id="title-hrule">
			<input id="question" type="text" class="form-control" placeholder="Add your poll question..." ng-model="question" required>
			<form role="form" ng-submit="addChoice()">
				<div id="choice-input-group" class="input-group">
					<span class="input-group-btn">
						<button id="add-choice-btn" class="btn btn-success"><span class="glyphicon glyphicon-list glyphicon-left"></span></button>
					</span>
				<input type="text" class="form-control choice" id="choice" placeholder="Add a choice to your poll..." ng-model="choiceNew" required>
				</div>
				<div id="contact-recaptcha" class="g-recaptcha" data-sitekey="6LeW4QkTAAAAANyJgMpyr0NafMUq7LJsQD9Z67lT"></div>
			</form>
		</div>
	</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<button id="poll-submit" class="btn-block btn-lg" ng-click="submitPoll()">Submit Poll</button>
			</div>
		</div>
		<table id="choices-table" class="table" ng-show="choices.length > 0">
			<thead>
				<tr>
					<th class="choice-options">Options</th>
					<th>Choice</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="choice in choices">
					<td class="choice-options">
						<button class="btn btn-danger btn-xs" ng-click="removeChoice($index)">Remove</button>
					</td>
					<td>{[{ choice }]}</td>
				</tr>
			</tbody>
		</table>
			<p id="choices-instructions" ng-hide="choices.length > 0">Add choices to your poll to continue.</p>
	</div>
{{#yield-scripts}}
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script><!-- jquery -->
	<script src="/js/angular/angular.min.js"></script><!-- angular -->
	<script src='/js/angular/angular-recaptcha.js'></script><!-- angular recaptcha -->
	<script src="/js/views/create_angular.js"></script><!-- create_angular -->
{{/yield-scripts}}
