<!DOCTYPE html>
<html lang="en-US" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Poll Genius</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css"><!-- bootstrap.css -->
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"><!-- font-awesome -->
    <link type="text/css" rel="stylesheet" href="css/animate.min.css"><!-- animate css -->
    <link type="text/css" rel="stylesheet" href="css/order-form.css"><!-- animate css -->
    <link rel="stylesheet" type="text/css" href="css/angular-chart.css"><!-- angular chart css -->
    <link type="text/css" rel="stylesheet" href="css/style.css"><!-- page styling -->
    
<!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic,400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- ============= -->

</head>

<body>
<!-- THIS DIV CAUSES THE SPINNING GIF AS THE PAGE LOADS -->
    <div id="mask">
        <div id="loader">      
        </div>
    </div>
<!-- ==================================================== -->

<!--===================== NAVIGATION =====================-->
    <header class="header-area">
    	<div class="container clearfix">
        
        	<div class="logo-area">
                <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
                <span class="phone">This is where the logo will go</span>
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav-main">
            	<ul class="menu-cont">
                	<li class="active"><a href="#home">Home</a></li>
                    <li><a href="/test">Polls</a></li>
                    <li><a data-toggle="modal" data-target="#myModal">Create Poll</a></li>
                </ul>
            </nav>
        
        </div>
    </header>
<!-- =========================================================-->

<!--===================== LANDING SCREEN =====================-->
    <section id="home">
    	<div id="particles">
        
            <div class="cont-area">
            
                <div class="container banner-area">
                
                    <ul class="slides clearfix">
                    
                        <li>
                            <h1>Poll Genius</h1>
                            <h5>Polls For What Matters</h5>
                            <a href="/test" class="button-large">View Polls	</a>
                        </li>                        
                    </ul>
                    
                </div>
                
            </div>
            
            <div class="banner-btm-img"><img src="img/buildings.png" alt=""></div>
        
    	</div>    
    </section>
<!-- ============================================================================= -->

<!--============================ ABOUT SECTION OF PAGE ============================-->
    <section class="about-area" id="about">
        <div class="about-top-area">
            <div class="container">    
                <div class="row colum-contents clearfix">

                	<div class="col-md-6 col-conts animated" data-animation="fadeInLeft" data-animation-delay="200">
					<h1 class="animated" data-animation="fadeInUp" data-animation-delay="100">This<br>is<br>Poll<br>Genius</h1>
                    </div>
                	<div class="col-md-6 col-conts animated" data-animation="fadeInLeft" data-animation-delay="200">
                 		<canvas class="animated" id="canvas" width="400" height="300"/>
                    </div>
                        <h4>We create polls for the masses</h4>
                 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>                 			
            </div>
        </div>
    </section>
<!-- ======================================================================= -->

<!--========================= STASTICAL AREA OF PAGE ========================-->
    <section class="statistics-main">
    	<div class="solid-bg">
        	<div class="container">
            
            	<div class="row clearfix">
                	<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="200">
                    	<span class="icon-cont"><i class="fa fa-heart"></i></span>
                        <span class="count-txt">1024</span>
                        <hr>
                        <span class="count-btm">Polls</span>
                    </div>
                	<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="400">
                    	<span class="icon-cont"><i class="fa fa-star"></i></span>
                        <span class="count-txt">102</span>
                        <hr>
                        <span class="count-btm">Poll Submits</span>
                    </div>
                	<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="600">
                    	<span class="icon-cont"><i class="fa fa-map-marker"></i></span>
                        <span class="count-txt">108</span>
                        <hr>
                        <span class="count-btm">Votes</span>
                    </div>
                	<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="800">
                    	<span class="icon-cont"><i class="fa fa-user-secret"></i></span>
                        <span class="count-txt">1890</span>
                        <hr>
                        <span class="count-btm">Clients</span>
                    </div>
                </div>    
            </div>
        </div>
    </section>
<!-- ========================================================================== -->


<!--========================= SECTION FOR POPULAR POLLS ========================-->
    <section class="services-main" id="services">
    	<div class="container">
        
            <h2 class="animated">Popular Polls</h2>            

            <div class="row service-all clearfix" ng-controller="appCtrl"> 
                <div class="col-md-4 service-single" ng-repeat="eachPoll in polls | first: 3">
   				
                	<canvas id="doughnut" class="chart chart-doughnut" data="eachPoll.data"
  					labels="eachPoll.labels"></canvas>
                    <h5>{% eachPoll.title %}</h5>
                    <div id="allPolls"></div>
                    <voteOptions></voteOptions>
                    <!-- <button class="btn btn-danger" ng-click="remove(poll._id)">Remove</button> -->
                    <!-- <button class="btn btn-warning" ng-click="edit(poll._id)">Edit</button> -->
                </div>
            </div>
        </div>
    </section>
<!-- =========================================================================== -->
   
   
<!--=========================== FOOTER AREA OF PAGE =============================-->
    <footer class="footer-area">
        <!-- Start: Footer Top -->
        <div class="footer-top">
        	<div class="container">
            	<div class="row clearfix">
                
                	<!-- Start: Footer Menu -->
                    <div class="col-md-2 footer-menu animated" data-animation="fadeInLeft" data-animation-delay="200">
                    	<nav class="footer-nav">
                        	<ul>
                            	<li><a href="#">Home</a></li>
                                <li><a href="/test">Polls</a></li>  
                                <li><a data-toggle="modal" data-target="#myModal">Create Poll</a></li>
                            </ul>
                        </nav>
                    </div>
                	<!-- End: Footer Menu -->
                
                	<!-- Start: Footer About -->
                    <div class="col-md-4 footer-about animated" data-animation="fadeInUp" data-animation-delay="400">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio pellentesin ondimentum odio pellentesque</p>
                    	
                    </div>
                	<!-- End: Footer About -->
                    
                    <!-- Start: Footer Address -->
                    <div class="col-md-3 footer-address animated" data-animation="fadeInUp" data-animation-delay="600">
                    	<ul>
                        	<li class="email"><a href="#">company@website.com</a></li>
                        	<li class="phone"><a href="#">(00)1800 1234 567</a></li>
                            <li class="address"><b>Weston Centre</b><br>Street Name, Unknown Place <br>Secret Street, Country, CT99 9899</li>
                        </ul>
                    </div>
                    <!-- End: Footer Address -->
                
                    <!-- Start: Footer Map -->
                    <div class="col-md-3 footer-map animated" data-animation="fadeInRight" data-animation-delay="800">
                        <ul class="social-footer">
                        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        	<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        	<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <!-- End: Footer Map -->
                
                </div>
            </div>
        </div>
        <!-- End: Footer Top -->
        
        <!-- Start: Footer Bottom -->
        <div class="footer-bottom">
        	<div class="container">
                <p>A project by JD Garza in collaboration with Turner Logic</p>
            </div>
        </div>
        <!-- End: Footer Bottom -->
        
    </footer>
<!-- ============================================================================== -->



<!-- MODEL FOR CREATING POLL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" ng-controller="appCtrl">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create A Poll</h4>
      </div>
      <div id="poll-creation" class="modal-body">
            <div class="row" id="inputOptions">
                <div class="col-md-12">
					<input class="form-control" placeholder="What is the poll?" ng-model="poll.title">
                </div>
                    <div class=" col-md-6">
                    <br>
					   <input class="form-control col-md-6" placeholder="What is the first option?" ng-model="poll.option[0]">
                    </div>
                    <div class="col-md-6">
                    <br>
					   <input class="form-control col-md-6" placeholder="What is the second option?" ng-model="poll.option[1]">
                    </div>
            </div>
            <div class="container">
                <br>
                  <button class="btn btn-primary btn-blue" addChoice>Add Option</button>
            </div>

      </div>
      <div class="modal-footer">
            <button class="btn btn-primary btn-blue" ng-click="addPoll()">Add Poll</button>
      </div>
    </div>
  </div>
</div>
<!-- =================================================================================== -->
	

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script> <!-- angular js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>
	<script type="text/javascript" src="js/chart.min.js"></script><!-- chart js -->

    <script type="text/javascript">
            var myColor = ["#ECD078","#D95B43","#C02942","#542437","#53777A","#5B43B2","#245437"];
            var myData = [65,45,25,35,104,99,80];

            function getTotal(){
                var myTotal = 0;
                for (var j = 0; j < myData.length; j++) {
                    myTotal += (typeof myData[j] == 'number') ? myData[j] : 0;
                }
                return myTotal;
            }

            function plotData() {
                var canvas;
                var ctx;
                var lastend = 0;
                var myTotal = getTotal();

                canvas = document.getElementById("canvas");
                ctx = canvas.getContext("2d");
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                for (var i = 0; i < myData.length; i++) {
                    ctx.fillStyle = myColor[i];
                    ctx.beginPath();
                    ctx.moveTo(200,150);
                    ctx.arc(200,150,150,lastend,lastend+
                      (Math.PI*2*(myData[i]/myTotal)),false);
                    ctx.lineTo(200,150);
                    ctx.fill();
                    lastend += Math.PI*2*(myData[i]/myTotal);
                }
            }

            plotData();


    </script><!-- for canvas element -->  

	<script type="text/javascript" src="js/angular-chart.js"></script><!-- angular chartJS -->
	<script type="text/javascript" src="models/Poll.js"></script><!-- Poll JS model -->
	<script src="/socket.io/socket.io.js"></script><!-- socket.io -->
	<script type="text/javascript" src="js/jquery.js"></script><!-- jquery -->
    <script type="text/javascript" src="js/bootstrap.js"></script><!-- Bootstrap Js -->
    <script type="text/javascript" src="js/jquery.particleground.js"></script><!-- Particle Header Js -->
    <script type="text/javascript" src="js/particle.js"></script><!-- Particle Header Js -->
    <script type="text/javascript" src="js/jquery.flexslider.js"></script><!-- Flexslider Js -->
    <script type="text/javascript" src="js/flexslider-settings.js"></script><!-- Flexslider Settings Js -->
    <script type="text/javascript" src="js/jquery.easytabs.min.js"></script><!-- Easy Tab Js -->
    <script type="text/javascript" src="js/easytabs-settings.js"></script><!-- Easy Tab Js -->
    <script type="text/javascript" src="js/isotope.pkgd.js"></script><!-- Isotope packaged -->
    <script type="text/javascript" src="js/jquery.appear.js"></script><!-- Appear Js -->
    <script type="text/javascript" src="js/jquery-scrollToFixed.js"></script><!-- Scroll To Fixed Js -->
    <script type="text/javascript" src="js/settings.js"></script><!-- Settings Js -->
    <script type="text/javascript" src="js/forms.js"></script><!-- Contact Form Js -->
</body>
</html>
