{{#yield-styles}}
	<link rel="stylesheet" href="/css/views/poll.css" media="screen" title="no title" charset="utf-8"><!-- poll css -->
{{/yield-styles}}

<!-- poll choice container -->
{{#poll}}
	<div  class="poll-choices container">
		<h2 id="question">{{question}}</h2>
			<form id="pollForm" action="/polls/{{code}}?_method=PUT" method="POST">
					<div class="row">
						{{#choices}}
							<div class="col-sm-4 choice-holder">
									<button class="circle" name="pollChoice" value="{{.}}">{{.}}</button>
							</div>
						{{/choices}}
					</div>
			</form>
	</div>
{{/poll}}
<!-- ==================== -->

<!-- creator container -->
	{{#creator}}
	<div class="container">
		<div class="row" id="remove-poll">
			<p id="remove-text">Bookmark this page to delete your poll in the future.</p>
			<form action='/polls/{{poll.code}}?_method=DELETE' method="POST">
				<input type="hidden" value="{{poll.token}}" name="token" readonly>
				<input type="submit" id="remove" class="btn btn-info btn-default" value="REMOVE">
			</form>
		</div>
	</div>
	{{/creator}}
<!-- ================= -->

{{#yield-scripts}}
	<script type="text/javascript" src="/js/views/polls_choice.js"></script><!-- polls_choice js -->
{{/yield-scripts}}
