<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>View Polls</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><!-- Bootstrap css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"><!-- font-awesome -->
<link rel="stylesheet" type="text/css" href="css/angular-chart.css"><!-- angular chart css -->
<link type="text/css" rel="stylesheet" href="css/style.css"><!-- page styling -->
<link rel="stylesheet" type="text/css" href="css/testStyle.css"><!-- testStyle css -->

<!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic,400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- ============= -->

</head>
<body ng-controller="appCtrl">

<!--============================== NAVIGATION ===============================-->
    <header class="header-area">
    	<div class="container clearfix">
        
        	<div class="logo-area">
            	<a href="#" class="logo"><img src="img/logo.png" alt=""></a>
                <span class="phone">This is where the logo will go</span>
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav-main">
            	<ul class="menu-cont">
                	<li><a href="/">Home</a></li>
                    <li class="active"><a href="/test">Polls</a></li>
                    <li><a data-toggle="modal" data-target="#myModal">Create Poll</a></li>
                </ul>
            </nav>
        
        </div>
    </header>
<!-- ==========================================================================-->

<!--========================= Promotional Section =============================-->

    <section id="promo" class="promo section offset-header">
        <div class="text-center">
            <h2 class="title">Poll<span class="highlight">Genius</span></h2>
            <p class="intro">Below you can search through the various polls and vote on ones that you want to.</p>
		<div class="search-area">
            <div class="container-fluid">
						<br>
						<h4 id="poll-search">Search Through Polls</h4>
					  <div class="col-lg-12">
					      <input type="text" class="form-control" placeholder="Search all polls..." ng-model="search">
					  </div>
					<div class="col-lg-12"><br></div>
				</div>
            </div>
        </div>
    </section>
<!--============================================================================-->

<!--=================== Where all polls are displayed ==========================-->
    <section id="all-polls">
		<div class="container services-main">
	        <div class="row service-all clearfix"> 
	            <div class="col-md-4 service-single" ng-repeat="eachPoll in polls | fuzzyBy: 'title': search">
					
	            	<canvas id="doughnut" class="chart chart-doughnut" data="eachPoll.data"
						labels="eachPoll.labels"></canvas>
	                <h5>{% eachPoll.title %}</h5>

	                <!-- <button class="btn btn-danger" ng-click="remove(poll._id)">Remove</button> -->
	                <!-- <button class="btn btn-warning" ng-click="edit(poll._id)">Edit</button> -->
	                <div id="allPolls"></div>
                    <voteOptions></voteOptions>
	            </div>

	        </div>
	    </div>
	</section>
<!--=======================================================================-->

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script><!-- angular JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script><!-- angular-filter -->
	<script type="text/javascript" src="js/chart.min.js"></script><!-- chart js -->
	<script type="text/javascript" src="js/angular-chart.js"></script><!-- angular chartJS -->
	<script type="text/javascript" src="models/Poll.js"></script><!-- Poll JS model -->
	<script src="/socket.io/socket.io.js"></script><!-- socket.io -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- jquery -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- bootstrap JS -->
	<script type="text/javascript" src="js/jquery.flexslider.js"></script><!-- Flexslider Js -->
	<script type="text/javascript" src="js/flexslider-settings.js"></script><!-- Flexslider Settings Js -->
	<script type="text/javascript" src="js/jquery.easytabs.min.js"></script><!-- Easy Tab Js -->
	<script type="text/javascript" src="js/easytabs-settings.js"></script><!-- Easy Tab Js -->
	<script type="text/javascript" src="js/isotope.pkgd.js"></script><!-- Isotope packaged -->
	<script type="text/javascript" src="js/jquery.appear.js"></script><!-- Appear Js -->
	<script type="text/javascript" src="js/jquery-scrollToFixed.js"></script><!-- Scroll To Fixed Js -->
	<script type="text/javascript" src="js/settings.js"></script><!-- Settings Js -->
	<script type="text/javascript" src="js/forms.js"></script><!-- Contact Form Js -->
</body>
</html>